* {
  font-family: 'Alegreya', serif;
  font-weight: 400;
}

.nav-text {
    font-family: 'Arvo', serif;
    font-weight: 400;
}

.text-black {
    font-family: 'Arvo', serif;
    font-weight: 500;
    font-size: 20px;
}

.space-between {
    font-family: 'Arvo', serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
}

ul.navbar-nav>* {
    margin-left: 2vw;
}

@media (max-width: 992px) {
    .navbar-nav span {
        display: none;
    }
}