body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/floor1-image.jpg");
}

main *{
    font-family: 'Arvo', serif;
}

.floor1 {
    height: 50vh;
    padding-top: 15vh;
    align-items: center;
}

.agendar{
    height: 10vh;
    width: 20vw;
    font-size: 30px;
    color: white;
}

.floor2 {
    height: 50vh;
    background: #09525685;
    display: grid;
    place-items:center;
}