body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/floor1-image.jpg");
}

main * {
    font-family: 'Arvo', serif;
}

.floor1 {
    height: 60vh;
    padding: 5vh;
    align-items: center;
    place-items: center;
}

.agendar {
    background-color: var(--color2);
    border: 1px solid var(--color2);
    transition: all .2s;
    color: white;
    font-size: 30px;
    height: 10vh;
    width: 20vw;
}

.agendar:hover {
    background-color: var(--color2);
    filter: brightness(90%);
}