body {
    background-image: url("../images/login-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-color {
    background-color: var(--color2);
    opacity: .5;
    filter: brightness(80%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

form {
    border-radius: 20px;
}

button[type="submit"] {
    background-color: var(--color2);
}

button[type="submit"]:hover {
    background-color: var(--color1);
}

input[type="checkbox"]:checked {
    background-color: var(--color1);
}

.login-logo-img {
    width: 50%;
    stroke: var(--color2);
    fill: var(--color2)
}