<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Arvo:wght@400;700&family=Inconsolata:wght@400;700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header class="align-items-baseline fixed-top w-100 bg-light">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-black px-3" href="/">QualiVida</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-3" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page"
                                href="/especialidade">Especialidades</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Serviços</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Profissionais</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-4">
        <div class="background-login position-absolute h-100 w-100">
            <div class="login d-flex align-items-center justify-content-center h-100 w-100">
                <form action="/login" method="POST" class="bg-white p-4 col-8 col-sm-6 col-md-4 col-xl-3"
                    id="login-form">
                    <div class="form-group mb-4 mt-2 d-flex justify-content-center align-items-center">
                        <svg class="login-logo-img" id="Camada_1" data-name="Camada 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 903.39 850.52">
                            <defs>
                                <style>
                                    .cls-1 {
                                        stroke-miterlimit: 10;
                                        stroke-width: 4px;
                                    }
                                </style>
                            </defs>
                            <rect x="436.77" y="270.8" width="29.86" height="98.6" />
                            <rect x="402.39" y="305.17" width="98.6" height="29.86" />
                            <polygon
                                points="566.16 205.63 566.16 0 400.56 0 400.56 239.1 502.83 239.1 502.83 209.25 434.03 209.25 434.03 33.48 532.69 33.48 532.69 205.63 532.69 239.1 771.79 239.1 771.79 205.63 566.16 205.63" />
                            <polygon
                                points="337.22 434.57 337.23 640.2 502.83 640.2 502.83 401.09 400.56 401.09 400.56 430.95 469.36 430.95 469.36 606.72 370.7 606.72 370.7 434.57 370.7 401.09 131.59 401.09 131.59 434.57 337.22 434.57" />
                            <polygon
                                points="337.22 205.63 131.59 205.63 131.6 371.24 370.7 371.24 370.7 268.96 340.84 268.96 340.84 337.76 165.07 337.76 165.07 239.1 337.22 239.1 370.7 239.1 370.7 0 337.22 0 337.22 205.63" />
                            <polygon
                                points="566.16 434.57 771.79 434.57 771.79 268.96 532.69 268.96 532.69 371.24 562.55 371.24 562.55 302.44 738.32 302.44 738.32 401.09 566.16 401.09 532.69 401.09 532.69 640.2 566.16 640.2 566.16 434.57" />
                            <path class="cls-1"
                                d="M651.31,961.26c.53.67.66,1.2.4,1.6a1.57,1.57,0,0,1-1.4.6h-25.6a5.67,5.67,0,0,1-4.6-2.2l-5.2-6.2a57.2,57.2,0,0,1-15.9,7,67.13,67.13,0,0,1-17.3,2.2,69.54,69.54,0,0,1-27.8-5.6,72.4,72.4,0,0,1,0-133.2,71.8,71.8,0,0,1,55.6,0,71.32,71.32,0,0,1,43.6,66.6,69.24,69.24,0,0,1-5.1,26.6,71.77,71.77,0,0,1-14.1,22Zm-69.6-19.4a29.23,29.23,0,0,0,17.8-5.2l-16-18.8q-1.8-2,.4-3.8l14-11.8a2.55,2.55,0,0,1,3.8.2l17.4,20.6A43.79,43.79,0,0,0,627,909a45.7,45.7,0,0,0,2.3-16.9,59.3,59.3,0,0,0-4-20.7,47.16,47.16,0,0,0-10-15.2,47.9,47.9,0,0,0-52.2-10.2,47.93,47.93,0,0,0-15.1,10.2,47.37,47.37,0,0,0-10.2,15.2q-3.7,8.7-3.7,20.7t3.7,20.7a46.29,46.29,0,0,0,10.2,15.1,47.21,47.21,0,0,0,15.1,10A53.33,53.33,0,0,0,581.71,941.86Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M700.1,820.66a2.3,2.3,0,0,1,2.6,2.6v100.6a17.76,17.76,0,0,0,18,18,17.13,17.13,0,0,0,12.6-5.2,17.38,17.38,0,0,0,5.2-12.8V823.26c0-1.73.94-2.6,2.8-2.6h18.2c1.87,0,2.8.87,2.8,2.6v99.2a40.26,40.26,0,0,1-3.3,16.2,43.35,43.35,0,0,1-8.9,13.3,41.35,41.35,0,0,1-13.2,9,41.41,41.41,0,0,1-32.4,0,42.41,42.41,0,0,1-22.3-22.3,40.26,40.26,0,0,1-3.3-16.2v-99.2a2.36,2.36,0,0,1,.9-1.8,2.86,2.86,0,0,1,1.9-.8Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M813.3,963.46H794.9a2.56,2.56,0,0,1-2-.9,2.84,2.84,0,0,1-.8-1.9v-99.2a40.26,40.26,0,0,1,3.3-16.2,41.35,41.35,0,0,1,9-13.2,43.53,43.53,0,0,1,13.3-8.9,41.41,41.41,0,0,1,32.4,0,41.68,41.68,0,0,1,22.1,22.1,40.26,40.26,0,0,1,3.3,16.2v99.2a2.84,2.84,0,0,1-.8,1.9,2.56,2.56,0,0,1-2,.9H854.3a2.37,2.37,0,0,1-1.8-.9,2.84,2.84,0,0,1-.8-1.9v-46.2H815.9v46.2a2.84,2.84,0,0,1-.8,1.9A2.36,2.36,0,0,1,813.3,963.46Zm38.4-71.4v-32a17.75,17.75,0,0,0-17.8-17.8,17.38,17.38,0,0,0-12.8,5.2,17.16,17.16,0,0,0-5.2,12.6v32Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M908.9,820.66h18.4a2.36,2.36,0,0,1,1.8.9,2.84,2.84,0,0,1,.8,1.9v117.6h33a2.47,2.47,0,0,1,2.8,2.8v17c0,1.73-.93,2.6-2.8,2.6h-54a2.84,2.84,0,0,1-1.9-.8,2.36,2.36,0,0,1-.9-1.8V823.46a3.13,3.13,0,0,1,2.8-2.8Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M990.1,963.46c-1.87,0-2.8-.87-2.8-2.6V823.46c0-1.73.93-2.6,2.8-2.6h18.2c1.86,0,2.8.87,2.8,2.6v137.4c0,1.73-.94,2.6-2.8,2.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1107.5,823.26a3.29,3.29,0,0,1,3.4-2.6h18.6a2.2,2.2,0,0,1,1.7.8,1.65,1.65,0,0,1,.3,1.8l-36.4,137.4a3.35,3.35,0,0,1-3.4,2.8h-21.2a3.2,3.2,0,0,1-2-.8,4.14,4.14,0,0,1-1.4-2l-36.4-137.4a1.62,1.62,0,0,1,.3-1.8,2.4,2.4,0,0,1,1.9-.8h18.4a3.3,3.3,0,0,1,3.4,2.6l26.4,109.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1153.9,963.46c-1.87,0-2.8-.87-2.8-2.6V823.46c0-1.73.93-2.6,2.8-2.6h18.2c1.86,0,2.8.87,2.8,2.6v137.4c0,1.73-.94,2.6-2.8,2.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1230.3,820.66a69.61,69.61,0,0,1,27.8,5.6,71.61,71.61,0,0,1,38,38,71.8,71.8,0,0,1,0,55.6,71.61,71.61,0,0,1-38,38,69.61,69.61,0,0,1-27.8,5.6h-21a2.56,2.56,0,0,1-2-.9,2.79,2.79,0,0,1-.8-1.9V823.46a2.47,2.47,0,0,1,2.8-2.8Zm0,120.4a45.78,45.78,0,0,0,18.5-3.8,49.88,49.88,0,0,0,15.2-10.2,46.61,46.61,0,0,0,10.2-15.1,55.36,55.36,0,0,0,0-39.8,47.39,47.39,0,0,0-25.4-25.4,46.73,46.73,0,0,0-18.5-3.7Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1347.49,963.46h-18.4a2.56,2.56,0,0,1-2-.9,2.84,2.84,0,0,1-.8-1.9v-99.2a40.26,40.26,0,0,1,3.3-16.2,41.35,41.35,0,0,1,9-13.2,43.65,43.65,0,0,1,13.3-8.9,41.41,41.41,0,0,1,32.4,0,41.68,41.68,0,0,1,22.1,22.1,40.26,40.26,0,0,1,3.3,16.2v99.2a2.84,2.84,0,0,1-.8,1.9,2.56,2.56,0,0,1-2,.9h-18.4a2.39,2.39,0,0,1-1.8-.9,2.84,2.84,0,0,1-.8-1.9v-46.2h-35.8v46.2a2.79,2.79,0,0,1-.8,1.9A2.36,2.36,0,0,1,1347.49,963.46Zm38.4-71.4v-32a17.75,17.75,0,0,0-17.8-17.8,17.4,17.4,0,0,0-12.8,5.2,17.2,17.2,0,0,0-5.2,12.6v32Z"
                                transform="translate(-508.31 -115.74)" />
                        </svg>
                    </div>
                    <div class="form-group mb-3">
                        <label for="InputEmail">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group mb-2">
                        <label for="InputPassword">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="Check">
                        <label class="form-check-label" for="Check">Lembrar-me</label>
                    </div>


                    <div class="error-message text-sm text-danger text-center mt-4"></div>

                    <button type="submit" class="btn text-white w-100 mt-4">Entrar</button>
                </form>
            </div>
        </div>
    </main>

    <!--Esses Scripts são responsáveis pelo funcionamento do menu quando hamburguer// Arrumar um jeito de deixar geral como o "general.css"-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script>
        const error = "<%= error %>";
        const email = "<%= email %>";
    </script>
    <script src="../scripts/login.js"></script>

</body>

</html>