<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Arvo:wght@400;700&family=Inconsolata:wght@400;700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header class="align-items-baseline fixed-top w-100 bg-light">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="nav-brand" href="/"><svg id="Camada_1" data-name="Camada 1" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1714.77 437.28">
                        <rect x="208.44" y="184.97" width="20.39" height="67.35" />
                        <rect x="184.97" y="208.44" width="67.35" height="20.39" />
                        <polygon
                            points="296.83 140.45 296.83 0 183.71 0 183.71 163.32 253.57 163.32 253.57 142.92 206.58 142.92 206.58 22.86 273.96 22.86 273.96 140.45 273.96 163.32 437.28 163.32 437.28 140.45 296.83 140.45" />
                        <polygon
                            points="140.45 296.83 140.45 437.28 253.57 437.28 253.57 273.96 183.71 273.96 183.71 294.36 230.7 294.36 230.7 414.42 163.32 414.42 163.32 296.83 163.32 273.96 0 273.96 0 296.83 140.45 296.83" />
                        <polygon
                            points="140.45 140.45 0 140.45 0 253.57 163.32 253.57 163.32 183.71 142.92 183.71 142.92 230.7 22.86 230.7 22.86 163.32 140.45 163.32 163.32 163.32 163.32 0 140.45 0 140.45 140.45" />
                        <polygon
                            points="296.83 296.83 437.28 296.83 437.28 183.71 273.96 183.71 273.96 253.57 294.36 253.57 294.36 206.58 414.42 206.58 414.42 273.96 296.83 273.96 273.96 273.96 273.96 437.28 296.83 437.28 296.83 296.83" />
                        <path
                            d="M800.23,632.81c.71.9.89,1.61.54,2.15a2.11,2.11,0,0,1-1.88.8H764.56a7.61,7.61,0,0,1-6.17-3l-7-8.31a76.47,76.47,0,0,1-21.32,9.38,90.15,90.15,0,0,1-23.21,3,93.15,93.15,0,0,1-37.28-7.51,97.09,97.09,0,0,1,0-178.64,96.31,96.31,0,0,1,74.57,0A95.69,95.69,0,0,1,802.65,540a93.07,93.07,0,0,1-6.84,35.68,96.36,96.36,0,0,1-18.92,29.5Zm-93.35-26a39.15,39.15,0,0,0,23.88-7L709.3,574.6c-1.61-1.78-1.44-3.48.53-5.09l18.78-15.83a3.43,3.43,0,0,1,5.1.27L757,581.58a58.58,58.58,0,0,0,10.6-18.91A61.17,61.17,0,0,0,770.72,540q-.54-16.1-5.36-27.76A63.19,63.19,0,0,0,752,491.85a64.25,64.25,0,0,0-70-13.68A63.87,63.87,0,0,0,648,512.24q-5,11.67-5,27.76t5,27.76A62.48,62.48,0,0,0,661.68,588a63.6,63.6,0,0,0,20.26,13.41A71.19,71.19,0,0,0,706.88,606.79Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M865.68,444.24c2.32,0,3.49,1.16,3.49,3.48V582.65a23.81,23.81,0,0,0,24.14,24.14,23,23,0,0,0,16.9-7,23.33,23.33,0,0,0,7-17.17V447.72q0-3.48,3.76-3.48h24.41q3.75,0,3.75,3.48v133a54,54,0,0,1-4.42,21.73,58.3,58.3,0,0,1-11.94,17.84A55.73,55.73,0,0,1,915,632.41a55.63,55.63,0,0,1-43.46,0,56.86,56.86,0,0,1-29.91-29.91,54,54,0,0,1-4.42-21.73v-133a3.19,3.19,0,0,1,1.2-2.41,3.82,3.82,0,0,1,2.55-1.07Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1017.5,635.76H992.83a3.44,3.44,0,0,1-2.69-1.21,3.79,3.79,0,0,1-1.07-2.54V499a53.83,53.83,0,0,1,4.43-21.73,55.57,55.57,0,0,1,12.07-17.7,58.25,58.25,0,0,1,17.83-11.94,55.63,55.63,0,0,1,43.46,0,56,56,0,0,1,29.64,29.64,54,54,0,0,1,4.43,21.73V632a3.76,3.76,0,0,1-1.08,2.54,3.42,3.42,0,0,1-2.68,1.21h-24.68a3.15,3.15,0,0,1-2.41-1.21A3.75,3.75,0,0,1,1069,632V570h-48v62a3.79,3.79,0,0,1-1.07,2.54A3.17,3.17,0,0,1,1017.5,635.76ZM1069,540V497.08a23.81,23.81,0,0,0-23.88-23.87,23.29,23.29,0,0,0-17.16,7,23,23,0,0,0-7,16.9V540Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1145.72,444.24h24.68a3.19,3.19,0,0,1,2.41,1.2,3.85,3.85,0,0,1,1.08,2.55V605.72h44.26q3.75,0,3.75,3.75v22.81q0,3.48-3.75,3.48h-72.43a3.77,3.77,0,0,1-2.55-1.07,3.19,3.19,0,0,1-1.21-2.41V448a4.18,4.18,0,0,1,3.76-3.75Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1254.62,635.76c-2.51,0-3.75-1.16-3.75-3.48V448c0-2.32,1.24-3.48,3.75-3.48H1279c2.5,0,3.76,1.16,3.76,3.48V632.28c0,2.32-1.26,3.48-3.76,3.48Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1412.08,447.72a4.41,4.41,0,0,1,4.56-3.48h24.95a2.91,2.91,0,0,1,2.27,1.07,2.19,2.19,0,0,1,.41,2.41L1395.45,632q-1.08,3.75-4.56,3.75h-28.44a4.26,4.26,0,0,1-2.68-1.07,5.63,5.63,0,0,1-1.88-2.68l-48.82-184.29a2.17,2.17,0,0,1,.41-2.41,3.21,3.21,0,0,1,2.54-1.07h24.68a4.41,4.41,0,0,1,4.56,3.48l35.41,147Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1474.31,635.76q-3.76,0-3.76-3.48V448q0-3.48,3.76-3.48h24.41q3.75,0,3.75,3.48V632.28q0,3.48-3.75,3.48Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1576.78,444.24a93.19,93.19,0,0,1,37.28,7.51,96,96,0,0,1,51,51,96.33,96.33,0,0,1,0,74.58,96,96,0,0,1-51,51,93.19,93.19,0,0,1-37.28,7.51h-28.17a3.42,3.42,0,0,1-2.68-1.21,3.76,3.76,0,0,1-1.08-2.54V448q0-3.75,3.76-3.75Zm0,161.48a61.28,61.28,0,0,0,24.81-5.1A66.61,66.61,0,0,0,1622,586.94a62.33,62.33,0,0,0,13.68-20.25,74.15,74.15,0,0,0,0-53.38,63.56,63.56,0,0,0-34.06-34.07,62.88,62.88,0,0,0-24.81-5Z"
                            transform="translate(-102.61 -321.36)" />
                        <path
                            d="M1734,635.76h-24.68a3.42,3.42,0,0,1-2.68-1.21,3.79,3.79,0,0,1-1.07-2.54V499a53.83,53.83,0,0,1,4.43-21.73,55.57,55.57,0,0,1,12.07-17.7,58.25,58.25,0,0,1,17.83-11.94,55.63,55.63,0,0,1,43.46,0A56,56,0,0,1,1813,477.23a54,54,0,0,1,4.43,21.73V632a3.81,3.81,0,0,1-1.08,2.54,3.42,3.42,0,0,1-2.68,1.21H1789a3.15,3.15,0,0,1-2.41-1.21,3.76,3.76,0,0,1-1.08-2.54V570h-48v62a3.79,3.79,0,0,1-1.07,2.54A3.17,3.17,0,0,1,1734,635.76Zm51.5-95.76V497.08a23.8,23.8,0,0,0-23.87-23.87,23.33,23.33,0,0,0-17.17,7,23,23,0,0,0-7,16.9V540Z"
                            transform="translate(-102.61 -321.36)" />
                    </svg></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-4" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-black" aria-current="page"
                                href="/especialidade">Especialidades</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Serviços</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Profissionais</a>
                        </li>
                        <span class="space-between"> │ </span>
                        <li class="nav-item">
                            <a class="nav-link active text-black" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="mt-4">
        <div class="background-login position-absolute h-100 w-100">
            <div class="login d-flex align-items-center justify-content-center h-100 w-100">
                <form action="/login" method="POST" class="bg-white p-4 col-8 col-sm-6 col-md-4 col-xl-3"
                    id="login-form">
                    <div class="form-group mb-4 mt-2 d-flex justify-content-center align-items-center">
                        <svg class="login-logo-img" id="Camada_1" data-name="Camada 1"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 903.39 850.52">
                            <defs>
                                <style>
                                    .cls-1 {
                                        stroke-miterlimit: 10;
                                        stroke-width: 4px;
                                    }
                                </style>
                            </defs>
                            <rect x="436.77" y="270.8" width="29.86" height="98.6" />
                            <rect x="402.39" y="305.17" width="98.6" height="29.86" />
                            <polygon
                                points="566.16 205.63 566.16 0 400.56 0 400.56 239.1 502.83 239.1 502.83 209.25 434.03 209.25 434.03 33.48 532.69 33.48 532.69 205.63 532.69 239.1 771.79 239.1 771.79 205.63 566.16 205.63" />
                            <polygon
                                points="337.22 434.57 337.23 640.2 502.83 640.2 502.83 401.09 400.56 401.09 400.56 430.95 469.36 430.95 469.36 606.72 370.7 606.72 370.7 434.57 370.7 401.09 131.59 401.09 131.59 434.57 337.22 434.57" />
                            <polygon
                                points="337.22 205.63 131.59 205.63 131.6 371.24 370.7 371.24 370.7 268.96 340.84 268.96 340.84 337.76 165.07 337.76 165.07 239.1 337.22 239.1 370.7 239.1 370.7 0 337.22 0 337.22 205.63" />
                            <polygon
                                points="566.16 434.57 771.79 434.57 771.79 268.96 532.69 268.96 532.69 371.24 562.55 371.24 562.55 302.44 738.32 302.44 738.32 401.09 566.16 401.09 532.69 401.09 532.69 640.2 566.16 640.2 566.16 434.57" />
                            <path class="cls-1"
                                d="M651.31,961.26c.53.67.66,1.2.4,1.6a1.57,1.57,0,0,1-1.4.6h-25.6a5.67,5.67,0,0,1-4.6-2.2l-5.2-6.2a57.2,57.2,0,0,1-15.9,7,67.13,67.13,0,0,1-17.3,2.2,69.54,69.54,0,0,1-27.8-5.6,72.4,72.4,0,0,1,0-133.2,71.8,71.8,0,0,1,55.6,0,71.32,71.32,0,0,1,43.6,66.6,69.24,69.24,0,0,1-5.1,26.6,71.77,71.77,0,0,1-14.1,22Zm-69.6-19.4a29.23,29.23,0,0,0,17.8-5.2l-16-18.8q-1.8-2,.4-3.8l14-11.8a2.55,2.55,0,0,1,3.8.2l17.4,20.6A43.79,43.79,0,0,0,627,909a45.7,45.7,0,0,0,2.3-16.9,59.3,59.3,0,0,0-4-20.7,47.16,47.16,0,0,0-10-15.2,47.9,47.9,0,0,0-52.2-10.2,47.93,47.93,0,0,0-15.1,10.2,47.37,47.37,0,0,0-10.2,15.2q-3.7,8.7-3.7,20.7t3.7,20.7a46.29,46.29,0,0,0,10.2,15.1,47.21,47.21,0,0,0,15.1,10A53.33,53.33,0,0,0,581.71,941.86Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M700.1,820.66a2.3,2.3,0,0,1,2.6,2.6v100.6a17.76,17.76,0,0,0,18,18,17.13,17.13,0,0,0,12.6-5.2,17.38,17.38,0,0,0,5.2-12.8V823.26c0-1.73.94-2.6,2.8-2.6h18.2c1.87,0,2.8.87,2.8,2.6v99.2a40.26,40.26,0,0,1-3.3,16.2,43.35,43.35,0,0,1-8.9,13.3,41.35,41.35,0,0,1-13.2,9,41.41,41.41,0,0,1-32.4,0,42.41,42.41,0,0,1-22.3-22.3,40.26,40.26,0,0,1-3.3-16.2v-99.2a2.36,2.36,0,0,1,.9-1.8,2.86,2.86,0,0,1,1.9-.8Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M813.3,963.46H794.9a2.56,2.56,0,0,1-2-.9,2.84,2.84,0,0,1-.8-1.9v-99.2a40.26,40.26,0,0,1,3.3-16.2,41.35,41.35,0,0,1,9-13.2,43.53,43.53,0,0,1,13.3-8.9,41.41,41.41,0,0,1,32.4,0,41.68,41.68,0,0,1,22.1,22.1,40.26,40.26,0,0,1,3.3,16.2v99.2a2.84,2.84,0,0,1-.8,1.9,2.56,2.56,0,0,1-2,.9H854.3a2.37,2.37,0,0,1-1.8-.9,2.84,2.84,0,0,1-.8-1.9v-46.2H815.9v46.2a2.84,2.84,0,0,1-.8,1.9A2.36,2.36,0,0,1,813.3,963.46Zm38.4-71.4v-32a17.75,17.75,0,0,0-17.8-17.8,17.38,17.38,0,0,0-12.8,5.2,17.16,17.16,0,0,0-5.2,12.6v32Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M908.9,820.66h18.4a2.36,2.36,0,0,1,1.8.9,2.84,2.84,0,0,1,.8,1.9v117.6h33a2.47,2.47,0,0,1,2.8,2.8v17c0,1.73-.93,2.6-2.8,2.6h-54a2.84,2.84,0,0,1-1.9-.8,2.36,2.36,0,0,1-.9-1.8V823.46a3.13,3.13,0,0,1,2.8-2.8Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M990.1,963.46c-1.87,0-2.8-.87-2.8-2.6V823.46c0-1.73.93-2.6,2.8-2.6h18.2c1.86,0,2.8.87,2.8,2.6v137.4c0,1.73-.94,2.6-2.8,2.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1107.5,823.26a3.29,3.29,0,0,1,3.4-2.6h18.6a2.2,2.2,0,0,1,1.7.8,1.65,1.65,0,0,1,.3,1.8l-36.4,137.4a3.35,3.35,0,0,1-3.4,2.8h-21.2a3.2,3.2,0,0,1-2-.8,4.14,4.14,0,0,1-1.4-2l-36.4-137.4a1.62,1.62,0,0,1,.3-1.8,2.4,2.4,0,0,1,1.9-.8h18.4a3.3,3.3,0,0,1,3.4,2.6l26.4,109.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1153.9,963.46c-1.87,0-2.8-.87-2.8-2.6V823.46c0-1.73.93-2.6,2.8-2.6h18.2c1.86,0,2.8.87,2.8,2.6v137.4c0,1.73-.94,2.6-2.8,2.6Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1230.3,820.66a69.61,69.61,0,0,1,27.8,5.6,71.61,71.61,0,0,1,38,38,71.8,71.8,0,0,1,0,55.6,71.61,71.61,0,0,1-38,38,69.61,69.61,0,0,1-27.8,5.6h-21a2.56,2.56,0,0,1-2-.9,2.79,2.79,0,0,1-.8-1.9V823.46a2.47,2.47,0,0,1,2.8-2.8Zm0,120.4a45.78,45.78,0,0,0,18.5-3.8,49.88,49.88,0,0,0,15.2-10.2,46.61,46.61,0,0,0,10.2-15.1,55.36,55.36,0,0,0,0-39.8,47.39,47.39,0,0,0-25.4-25.4,46.73,46.73,0,0,0-18.5-3.7Z"
                                transform="translate(-508.31 -115.74)" />
                            <path class="cls-1"
                                d="M1347.49,963.46h-18.4a2.56,2.56,0,0,1-2-.9,2.84,2.84,0,0,1-.8-1.9v-99.2a40.26,40.26,0,0,1,3.3-16.2,41.35,41.35,0,0,1,9-13.2,43.65,43.65,0,0,1,13.3-8.9,41.41,41.41,0,0,1,32.4,0,41.68,41.68,0,0,1,22.1,22.1,40.26,40.26,0,0,1,3.3,16.2v99.2a2.84,2.84,0,0,1-.8,1.9,2.56,2.56,0,0,1-2,.9h-18.4a2.39,2.39,0,0,1-1.8-.9,2.84,2.84,0,0,1-.8-1.9v-46.2h-35.8v46.2a2.79,2.79,0,0,1-.8,1.9A2.36,2.36,0,0,1,1347.49,963.46Zm38.4-71.4v-32a17.75,17.75,0,0,0-17.8-17.8,17.4,17.4,0,0,0-12.8,5.2,17.2,17.2,0,0,0-5.2,12.6v32Z"
                                transform="translate(-508.31 -115.74)" />
                        </svg>
                    </div>
                    <div class="form-group mb-3">
                        <label for="InputEmail">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group mb-2">
                        <label for="InputPassword">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="Check">
                        <label class="form-check-label" for="Check">Lembrar-me</label>
                    </div>


                    <div class="error-message text-sm text-danger text-center mt-4"></div>

                    <button type="submit" class="btn text-white w-100 mt-4">Entrar</button>
                </form>
            </div>
        </div>
    </main>

    <!--Esses Scripts são responsáveis pelo funcionamento do menu quando hamburguer// Arrumar um jeito de deixar geral como o "general.css"-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script>
        const error = "<%= error %>";
        const email = "<%= email %>";
    </script>
    <script src="../scripts/login.js"></script>

</body>

</html>